<script>
export default {
  name: "PersonCard",
  props: {
    person: {
      type: Object,
      required: true
    },
    isPresent: {
      type: Boolean,
      required: true
    },
    small: {
      type: Boolean,
      default: false
    }
  },
}
</script>

<template>
<div
    class="s-att-bg-white s-att-border s-att-border-gray-300 s-att-border-b-4 s-att-rounded s-att-flex s-att-flex-col s-att-items-center"
    :class="[small ? 's-att-p-2 s-att-pb-1' : 's-att-p-3 s-att-pb-2 s-att-gap-1', { 's-att-border-b-green-500': isPresent, 's-att-border-b-red-500 s-att-opacity-70': !isPresent }]"
>
  <img :src="person.foto" class="s-att-aspect-square s-att-rounded-full" :class="[small ? 's-att-w-12' : 's-att-w-16', {'s-att-grayscale': !isPresent}]" />
  <p class="s-att-text-center s-att-text-sm s-att-font-accent">{{ person.nomeCurto }}</p>
</div>
</template>
