<template>
  <div class="presencas">
    <div class="presencas__calendar">
      <v-calendar
          :attributes="attributes"
          :min-page="{month: 9, year: anoLetivo}"
          :max-page="{month: 8, year: anoLetivo + 1}"
          color="sautor"
          is-expanded
          @dayclick="dayClick"
      />
    </div>
    <div class="presencas__list" v-if="selectedDay">
      <div class="presencas__list__close">
        <button class="presencas__list__close-btn" type="button" @click="selectedDay = null">
          <span class="far fa-times"></span>
        </button>
      </div>
      <div class="s-att-flex s-att-items-center s-att-justify-between s-att-mb-4">
        <h3 class="s-att-font-headline s-att-text-2xl">{{ selectedDay.toLocaleString(dateFormat('DATE_HUGE')) }}</h3>
        <div v-show="dayAttendance && dayAttendance.self && Object.values(dayAttendance.self).some(att => att)">
          <button class="button button--primary" type="button" @click="openEdit">
            <span class="fas fa-pencil"></span>
            <span class="s-att-hidden sm:s-att-inline s-att-pl-1">Editar</span>
          </button>
        </div>
      </div>

      <template v-if="dayAttendance">
        <div class="presencas__list__grid" v-if="dayAttendance.self && Object.values(dayAttendance.self).some(att => att)">
          <PersonCard v-for="pessoa in grupo.inscritos" :person="pessoa" :is-present="dayAttendance.self[pessoa.id]" />
        </div>
        <div class="presencas__list__no-self" v-else>
          <p class="s-att-text-gray-600 s-att-text-lg">Não existem presenças registadas neste dia.</p>
          <button class="button button--primary" type="button" @click="openEdit">
            <span class="far fa-plus"></span>
            Registar
          </button>
        </div>
        <template v-if="dayAttendance.others.length > 0">
          <h5 class="s-att-font-headline s-att-text-xl s-att-mt-6 s-att-mb-3">Outros grupos</h5>
          <div class="presencas__list__others">
            <section v-for="grp in dayAttendance.others" :key="grp.group.id">
              <h6 class="s-att-font-headline s-att-text-lg s-att-mb-3">{{ grp.group.nome }}</h6>
              <div class="presencas__list__others__grid">
                <PersonCard v-for="pessoa in peopleFromIds(Object.keys(grp.attendance))" :person="pessoa" :is-present="grp.attendance[pessoa.id]" small />
              </div>
            </section>
          </div>
        </template>
      </template>
      <div class="text-center text-4xl text-primary-500" v-else key="loading">
        <span class="far fa-circle-notch fa-spin"></span>
      </div>
    </div>
    <div class="presencas__list--empty" v-else>
      Escolha um dia usando o calendário à esquerda.
    </div>

    <modal id="addAttendance" with-close v-if="selectedDay">
      <div class="modal__body">
        <h3 class="modal__title">
          Editar presenças
          <small>{{ selectedDay.toLocaleString(dateFormat('DATE_FULL')) }}</small>
        </h3>

        <div class="field" v-for="pessoa in grupo.inscritos" :key="pessoa.id">
          <div class="checkbox">
            <div class="checkbox__input">
              <input type="checkbox" :id="'att-'+pessoa.id" :value="pessoa.id" v-model="registeringPres" />
            </div>
            <div class="checkbox__label">
              <label class="s-att-inline-flex s-att-items-center s-att-gap-2 -s-att-mt-1.5" :for="'att-'+pessoa.id">
                <img :src="pessoa.foto" class="s-att-rounded-full s-att-h-8 s-att-aspect-square" />
                <span>{{ pessoa.nomeExibicao }}</span>

              </label>
            </div>
          </div>
        </div>

      </div>

      <footer class="modal__footer">
        <button type="submit" class="button button--primary" @click="savePresencas">Guardar</button>
        <button type="button" class="button" @click.prevent="$root.closeModal('addAttendance')">Cancelar</button>
      </footer>
    </modal>
  </div>
</template>

<script>
import Calendar from 'v-calendar/lib/components/calendar.umd'
import { DateTime } from 'luxon'
import PersonCard from "./PersonCard.vue";

export default {
  name: 'Presencas',
  components: {
    PersonCard,
    'v-calendar': Calendar,
  },
  props: {
    calendarUrl: {
      type: String,
      required: true
    },
    dayUrl: {
      type: String,
      required: true
    },
    updateUrl: {
      type: String,
      required: true
    },
    grupoId: {
      type: Number,
      required: true
    }
  },
  data () {
    return {
      calendarAttendance: null,
      dayAttendance: null,
      selectedDay: null,
      registeringPres: [],
      grupo: null
    }
  },
  computed: {
    anoLetivo () {
      const data = DateTime.now()
      if (data.month < 9) { // SEP
        return data.year - 1
      }
      return data.year
    },
    attributes () {
      return [
        {
          key: 'today',
          dates: new Date(),
          highlight: {
            class: 'vc-att-today'
          },
        },
          ...(this.calendarAttendance ? this.calendarAttendance.map(att => ({
            key: att.group_id,
            dates: att.dates.map(d => new Date(d)),
            dot: {
              style: {
                'background-color': att.color || '#CCCCCC'
              }
            }
          })) : []),
          ...(this.selectedDay ? [{ key: 'selected', dates: this.selectedDay.toJSDate(), highlight: true }] : [])
      ]
    },
  },
  methods: {
    dateFormat (formatName) {
      return DateTime[formatName]
    },
    async loadGrupo () {
      const response = await this.$http.post('/graphql', { query: `{ grupo (id: ${this.grupoId}) { id nome nome_curto logo inscritos { id nomeCurto nomeExibicao foto } } }` })
      this.grupo = response.data.data.grupo
    },
    async loadCalendar (from = this.anoLetivo + '-09-01', to = (this.anoLetivo + 1) + '-08-31') {
      this.calendarAttendance = (await this.$http.get(`${this.calendarUrl}?from=${from}&to=${to}`)).data
    },
    async loadDay (date) {
      this.dayAttendance = (await this.$http.get(`${this.dayUrl}?date=${date}`)).data
    },
    peopleFromIds (ids) {
      if (!this.grupo) return []
      return this.grupo.inscritos.filter(p => ids.includes(p.id))
    },
    dayClick (e) {
      this.dayAttendance = null
      this.selectedDay = DateTime.fromJSDate(e.date)
      this.loadDay(this.selectedDay.toISODate())
    },
    openEdit () {
      this.registeringPres = this.dayAttendance.self ? Object.entries(this.dayAttendance.self).filter(att => att[1]).map(att => att[0]) : []
      this.$root.openModal('addAttendance')
    },
    savePresencas () {
      this.$http.put(this.updateUrl, {
        date: this.selectedDay.toISODate(),
        attendance: this.registeringPres
      })
          .then(response => {
            new window.FilamentNotification()
                .title('Presenças guardadas com sucesso.')
                .success()
                .send()
            this.$root.closeModal('addAttendance')
            this.loadCalendar()
            this.loadDay(this.selectedDay.toISODate())
          })
          .catch(_ => {
            new window.FilamentNotification()
                .title('Ocorreu um erro a guardar.')
                .danger()
                .send()
          })
    },
  },
  created () {
    this.loadGrupo()
    this.loadCalendar()
  }
}
</script>

<style lang="scss">

.presencas {
  @apply s-att-flex;

  &__calendar {

    @apply s-att-flex-1 s-att-mr-0;
    @apply sm:s-att-mr-8 sm:s-att-shrink-0 sm:s-att-flex-none;
    @apply xl:s-att-w-80;

    .vc-container {

      @apply s-att-font-sans s-att-bg-transparent s-att-border-0;

      --gray-100: theme('colors.gray.100');
      --gray-200: theme('colors.gray.200');
      --gray-300: theme('colors.gray.300');
      --gray-400: theme('colors.gray.400');
      --gray-500: theme('colors.gray.500');
      --gray-600: theme('colors.gray.600');
      --gray-700: theme('colors.gray.700');
      --gray-800: theme('colors.gray.800');
      --gray-900: theme('colors.gray.900');

      &.vc-sautor {
        --sautor-100: rgb(var(--primary-100));
        --sautor-200: rgb(var(--primary-200));
        --sautor-300: rgb(var(--primary-300));
        --sautor-400: rgb(var(--primary-400));
        --sautor-500: rgb(var(--primary-500));
        --sautor-600: rgb(var(--primary-600));
        --sautor-700: rgb(var(--primary-700));
        --sautor-800: rgb(var(--primary-800));
        --sautor-900: rgb(var(--primary-900));

        --accent-100: rgb(var(--primary-100));
        --accent-200: rgb(var(--primary-200));
        --accent-300: rgb(var(--primary-300));
        --accent-400: rgb(var(--primary-400));
        --accent-500: rgb(var(--primary-500));
        --accent-600: rgb(var(--primary-600));
        --accent-700: rgb(var(--primary-700));
        --accent-800: rgb(var(--primary-800));
        --accent-900: rgb(var(--primary-900));
      }

      .vc-header {
        padding: 0 13px 16px;
      }

      .vc-title {
        @apply s-att-font-headline;
      }

      .vc-arrows-container {
        padding: 0 12px ;
      }

      .vc-weeks {
        padding: 0;
      }

      .vc-weekday {
        padding-bottom: 12px;
      }

      .vc-day-content {
        @apply s-att-text-base s-att-font-normal;
      }

      .vc-att-today {
        @apply s-att-border s-att-border-dashed s-att-border-gray-400;
      }
    }

  }

  &__list {
    @apply s-att-fixed s-att-inset-0 s-att-bg-white s-att-z-[9] s-att-p-5 s-att-overflow-y-scroll s-att-flex-1;
    @apply sm:s-att-relative sm:s-att-inset-auto sm:s-att-bg-transparent sm:s-att-z-auto sm:s-att-p-0 sm:s-att-overflow-hidden;

    &__close {
      @apply s-att-mb-6 -s-att-mt-2 s-att-flex s-att-items-center s-att-justify-end;
      @apply md:s-att-hidden;

      &-btn {
        @apply s-att-w-10 s-att-h-10 s-att-flex s-att-items-center s-att-justify-center s-att-rounded-full s-att-text-gray-500 s-att-text-lg s-att-transition-colors s-att-duration-300;
        @apply hover:s-att-bg-gray-100 hover:s-att-text-gray-600;
        @apply focus:s-att-outline-none focus:s-att-ring-2 focus:s-att-ring-gray-300;

        svg {
          @apply s-att-block;
        }
      }
    }

    &__grid {
      @apply s-att-grid s-att-gap-3;

      --person-width: 10rem;
      grid-template-columns: repeat(auto-fill, minmax(var(--person-width), 1fr));

      @media (max-width: 639px) {
        --person-width: 8rem;
      }
    }

    &__others {
      @apply s-att-flex s-att-flex-col s-att-gap-4;
      display: flex;
      flex-wrap: wrap;

      &__grid {
        @apply s-att-flex-shrink-0 s-att-grid s-att-gap-3;
        grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
      }
    }

    &__no-self {
      @apply s-att-flex-1 s-att-flex s-att-flex-col s-att-gap-4 s-att-items-center s-att-justify-center s-att-text-center s-att-py-8;
    }
  }

  &__list--empty {
    @apply s-att-flex-1 s-att-items-center s-att-justify-center s-att-text-center s-att-text-gray-600 s-att-text-lg;
    @apply s-att-hidden sm:s-att-flex;
  }
}
</style>
